[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
restructuredtext-lint = "*"

[dev-packages]
mypy = "*"  # 0.942
pylint = "*"  # 2.13.5
restructuredtext-lint = "*"  # 1.4.0
twine = "*"  # 4.0.0

[requires]
python_version = "3.8"
